<div class="preview">
  <app-playing-pokemon-card [pokemon]="pokemon"/>
</div>
<div class="main">
  <form [formGroup]="formGroup" (submit)="submit($event)">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput id="name" name="name" type="text" formControlName="name"/>
      @if (isFieldValid('name')) {
        <mat-error>This field is required</mat-error>
      }
    </mat-form-field>
    <div class="form-field">
      <button mat-raised-button type="button" (click)="imageInput.click()">Upload File : {{imageInput.files?.[0]?.name || '...'}}</button>
      <input hidden #imageInput name="image" type="file" (change)="onFileChange($event)"/>
      @if (isFieldValid('image')) {
        <div class="error">This field is required</div>
      }
    </div>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select id="type" formControlName="type">
        @for(type of pokemonTypes; track type) {
          <mat-option [value]="type">{{type}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>HP</mat-label>
      <input matInput id="hp" name="hp" type="number" formControlName="hp"/>
      @if (isFieldValid('hp')) {
        @if (formGroup.get('hp')?.hasError('required')) {
          <mat-error>This field is required</mat-error>
        }
        @if (formGroup.get('hp')?.hasError('min')) {
          <mat-error>This field must be bigger than 0</mat-error>
        }
        @if (formGroup.get('hp')?.hasError('max')) {
          <mat-error>This field must be smaller or equal to 200</mat-error>
        }

      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Figure Caption</mat-label>
      <input matInput id="figureCaption" name="figureCaption" type="text" formControlName="figureCaption"/>
      @if (isFieldValid('figureCaption')) {
        <mat-error>This field is required</mat-error>
      }
    </mat-form-field>
    <div id="capacities" formArrayName="attacks">
      <div class="attack-header">
        <h3>Pokemon Attacks</h3>
        <button mat-icon-button type="button" (click)="addAttack()" [disabled]="isMaxAttacksReached">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="attack-limit">
        @if (isMaxAttacksReached) {
          <span class="limit-reached">(Limite d'attaque atteinte)</span>
        }
      </div>
      @for (attackGroup of attacks.controls; track attackGroup; let i = $index) {
        <div class="attack-section" [formGroupName]="i">
          <div class="attack-name-row">
            <h4 class="attack-number">Attack {{i + 1}}</h4>
            <button mat-icon-button type="button" (click)="removeAttack(i)">
              <mat-icon>remove</mat-icon>
            </button>
          </div>
          <div class="attack-field">
            <mat-form-field>
              <mat-label>Attack Name</mat-label>
              <input matInput id="attackName" name="attackName" type="text" formControlName="name"/>
              @if (isFieldValid('name')) {
                <mat-error>This field is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label></mat-label>
              <input matInput id="power" name="power" type="number" formControlName="power"/>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Attack Type</mat-label>
              <mat-select id="attackType"  formControlName="type">
                @for(type of attackTypes; track type) {
                  <mat-option [value]="type">{{type}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Attack Description</mat-label>
              <input matInput type="text" formControlName="description">
            </mat-form-field>
          </div>
        </div>
      }
    </div>

    <div class="button-container left">
      @if(pokemonId != -1) {
        <button mat-flat-button class="delete" type="button" (click)="deleteMonster()"> Delete </button>
      }
    </div>
    <div class="button-container right">
      <button mat-button (click)="navigateBack()">Back</button>
      <button mat-flat-button type="submit" [disabled]="formGroup.invalid">Save</button>
    </div>
  </form>
</div>

