<div class="preview">
  <app-playing-yugioh-card [card]="card"/>
</div>
<div class="main">
  <form [formGroup]="formGroup" (submit)="submit($event)">
    <!-- Card Type Selector -->
    <mat-form-field>
      <mat-label>Card Type</mat-label>
      <mat-select formControlName="cardType">
        @for (type of cardTypes; track type) {
          <mat-option [value]="type">{{ type  }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- Common Fields -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      @if (isFieldInvalid('name')) {
        <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <!-- Image Upload -->
    <div class="form-field">
      <button mat-raised-button type="button" (click)="imageInput.click()">
        Upload Image: {{ imageInput.files?.[0]?.name || 'Select file' }}
      </button>
      <input hidden #imageInput type="file" (change)="onFileChange($event)">
      @if (isFieldInvalid('imageUrl')) {
        <div class="error">Image is required</div>
      }
    </div>

    <!-- Conditional Monster Fields -->
    @if (formGroup.get('cardType')?.value === CardType.MONSTER) {
      <div class="monster-fields">
        <mat-form-field>
          <mat-label>Attribute</mat-label>
          <mat-select formControlName="attribute">
            @for (attr of monsterAttributes; track attr) {
              <mat-option [value]="attr">{{ attr  }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Level</mat-label>
          <input matInput type="number" formControlName="level">
          @if (isFieldInvalid('level')) {
            <mat-error>Level (1-12)</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select formControlName="monsterType">
            @for (monsterType of monsterRace; track monsterType) {
              <mat-option [value]="monsterType">{{ monsterType  }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
          @if (isFieldInvalid('description')) {
            <mat-error>Description is required</mat-error>
          }
        </mat-form-field>
        <div class="stats">
          <mat-form-field>
            <mat-label>ATK</mat-label>
            <input matInput type="number" formControlName="atk">
            @if (isFieldInvalid('atk')) {
              <mat-error>ATK required</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>DEF</mat-label>
            <input matInput type="number" formControlName="def">
            @if (isFieldInvalid('def')) {
              <mat-error>DEF required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    }

    <!-- Spell/Trap Fields -->
    @if (formGroup.get('cardType')?.value !== CardType.MONSTER) {
      <div class="spell-trap-fields">
        <mat-form-field>
          <mat-label>Spell/Trap Type</mat-label>
          <mat-select formControlName="spellTrapType">
            @for (stType of spellTypes; track stType) {
              <mat-option [value]="stType">{{ stType  }}</mat-option>
            }
          </mat-select>
          @if (isFieldInvalid('spellTrapType')) {
            <mat-error>Type required</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Effect Text</mat-label>
          <textarea matInput formControlName="effectText"></textarea>
          @if (isFieldInvalid('effectText')) {
            <mat-error>Effect text required</mat-error>
          }
        </mat-form-field>
      </div>
    }
    <!-- Submit Section -->
    <div class="button-container">
      <button mat-button (click)="navigateBack()">Back</button>
      <button mat-flat-button type="submit" [disabled]="formGroup.invalid">Save</button>
    </div>
  </form>
</div>
