$pokemon-bg: '/images/logos/pokemon-wall.png';
$yugioh-bg: '/images/logos/yugioh-wall.png';

.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  transition: all 0.5s ease-in-out;
  z-index: 1;

  &.left {
    left: 0;
    background: url($pokemon-bg) no-repeat center center/cover;
  }

  &.right {
    right: 0;
    background: url($yugioh-bg) no-repeat center center/cover;
  }

  &.active {
    width: 100%;
    z-index: 2;
  }
}

.buttons-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.button-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px; /* Space between buttons */
  height: 100vh; /* Full viewport height */
}

.game-button {
  border: none;
  padding: 20px;
  width: 300px;
  height: 150px;
  border-radius: 40px;
  background-color: rgba(82, 29, 13, 0.85);
  cursor: pointer;
  overflow: hidden; /* Keep image within button */
  transition: transform 0.7s ease; /* Smooth hover effect */
}

.game-button:hover {
  transform: scale(1.5); /* Slight scale up on hover */
}

.game-logo {
  width: 300px; /* Fixed size */
  height: 3000px; /* Fixed size */
  border-radius: 40%; /* Oval shape */
  object-fit: contain; /* Keep image proportions */
  transition: transform 0.8s ease; /* Smooth image scale */
}

.game-button:hover .game-logo {
  transform: scale(1.1); /* Image scale effect */
}
