<div id="card">
  <div id="inside" [style.background-color]="cardColor()">
    <header [style.background-color]="cardColor()">
      <div class="card-top-band">
        <div class="left">
          <div id="name">{{card().name}}</div>
        </div>
        <div class="right">
          <img class="attribute icon" [src]="cardTypeIcon()" alt=""/>
        </div>
      </div>
    </header>
    <div>
      @if (isMonster()) {
        <div class="level-stars">
          @for (_ of getLevelStars(); track $index) {
            <div class="star">★</div>
          }
        </div>
      }
      @else if (isSpell() || isTrap()) {
          <div class="spell-name">
            {{cardTypeName()}}
            @if (!isNormalSpell()) {
              <img [src]="cardTypeIcon()" class="spell-icon" alt="">
            }
          </div>

      }
    </div>
    <figure id="art">
      <img  [src]= "card().imageUrl" alt=""/>
    </figure>
    <div id="card-info-box">
      @if (isMonster()) {
        <div class="monster-type">{{ card().monsterType }}</div>
        <div class="description">{{ card().description }}</div>
        <div class="atk-def-separator"></div>
        <div class="atk-def">
          <span>ATK/{{ card().atk }}</span>
          <span>DEF/{{ card().def }}</span>
        </div>
      }
      @else if (isSpell() || isTrap()) {
        <div class="effect-text">{{ card().effectText }}</div>
      }
    </div>
  </div>
</div>
